name: Foundry Tests

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"

      - name: Run the tests
        run: forge test -vv
        working-directory: ./contracts
